Repository zgrybus/olx: changes, and which lefthook commands are due for each by the changed paths.
All: backend-kotlin, frontend-linter

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    backend-kotlin:
      glob: "*.kt"
      run: ./gradlew ktlintFormat && git add {staged_files}

    frontend-linter:
      root: "themes/olx"
      glob: "*.{js,ts,tsx,jsx,json}"
      run: npx prettier --write {staged_files} && npx eslint --fix {staged_files} && git add {staged_files}

Fixed yml
  lefthook.yml
Due: none

Added lefthook
  .gitignore
  build.gradle.kts
  lefthook.yml
Due: none

Added tailwind eslint rule
  themes/olx/eslint.config.js
  themes/olx/package.json
  themes/olx/pnpm-lock.yaml
  themes/olx/src/features/offers/offer-details-description-card/offer-details-description-card.tsx
  themes/olx/src/features/offers/offer-details-summary-card/offer-details-summary-card.tsx
  themes/olx/src/features/offers/remove-offer-dialog/remove-offer-dialog.tsx
  themes/olx/src/routes/offers/$offerId/index.tsx
Due: frontend-linter

run formater
  themes/olx/eslint.config.js
  themes/olx/src/apis/olx/msw.ts
  themes/olx/src/components/ui/button.tsx
  themes/olx/src/components/ui/card.tsx
  themes/olx/src/components/ui/dialog.tsx
  themes/olx/src/components/ui/field.tsx
  themes/olx/src/components/ui/input.tsx
  themes/olx/src/components/ui/label.tsx
  themes/olx/src/components/ui/separator.tsx
  themes/olx/src/components/ui/textarea.tsx
  themes/olx/src/features/header/desktop-header/desktop-header.tsx
  themes/olx/src/features/header/mobile-header/mobile-header.tsx
  themes/olx/src/features/offers/offer-details-skeleton/offer-details-skeleton.tsx
  themes/olx/src/features/offers/offer-list-item/offer-list-item.tsx
  themes/olx/src/features/offers/offers-list-skeleton/offers-list-skeleton.tsx
  themes/olx/src/lib/utils.ts
  themes/olx/src/main.tsx
  themes/olx/src/routeTree.gen.ts
  themes/olx/src/routes/__root.tsx
  themes/olx/src/routes/offers/create/index.tsx
  themes/olx/src/routes/offers/index.tsx
  themes/olx/src/test/test-utils.tsx
Due: frontend-linter

[FE][BE] feat/add git manager (#13)
  .gitignore
  build.gradle.kts
  lefthook.yml
  themes/olx/eslint.config.js
  themes/olx/package.json
  themes/olx/pnpm-lock.yaml
  themes/olx/src/apis/olx/msw.ts
  themes/olx/src/components/ui/button.tsx
  themes/olx/src/components/ui/card.tsx
  themes/olx/src/components/ui/dialog.tsx
  themes/olx/src/components/ui/field.tsx
  themes/olx/src/components/ui/input.tsx
  themes/olx/src/components/ui/label.tsx
  themes/olx/src/components/ui/separator.tsx
  themes/olx/src/components/ui/textarea.tsx
  themes/olx/src/features/header/desktop-header/desktop-header.tsx
  themes/olx/src/features/header/mobile-header/mobile-header.tsx
  themes/olx/src/features/offers/offer-details-description-card/offer-details-description-card.tsx
  themes/olx/src/features/offers/offer-details-skeleton/offer-details-skeleton.tsx
  themes/olx/src/features/offers/offer-details-summary-card/offer-details-summary-card.tsx
  themes/olx/src/features/offers/offer-list-item/offer-list-item.tsx
  themes/olx/src/features/offers/offers-list-skeleton/offers-list-skeleton.tsx
  themes/olx/src/features/offers/remove-offer-dialog/remove-offer-dialog.tsx
  themes/olx/src/lib/utils.ts
  themes/olx/src/main.tsx
  themes/olx/src/routeTree.gen.ts
  themes/olx/src/routes/__root.tsx
  themes/olx/src/routes/offers/$offerId/index.tsx
  themes/olx/src/routes/offers/create/index.tsx
  themes/olx/src/routes/offers/index.tsx
  themes/olx/src/test/test-utils.tsx
Due: frontend-linter

Added proper ktlint config
  .editorconfig
  build.gradle.kts
  src/main/kotlin/com/example/olx/Loggable.kt
  src/main/kotlin/com/example/olx/OlxApplication.kt
  src/main/kotlin/com/example/olx/config/WebConfig.kt
  src/main/kotlin/com/example/olx/exceptions/GlobalExceptionHandler.kt
  src/main/kotlin/com/example/olx/exceptions/dto/ErrorDTO.kt
  src/main/kotlin/com/example/olx/offers/controller/OfferController.kt
  src/main/kotlin/com/example/olx/offers/dto/OfferDetailsDTO.kt
  src/main/kotlin/com/example/olx/offers/dto/OfferRequestDTO.kt
  src/main/kotlin/com/example/olx/offers/dto/OfferSummaryDTO.kt
  src/main/kotlin/com/example/olx/offers/entity/Offer.kt
  src/main/kotlin/com/example/olx/offers/exceptions/OfferExceptionHandler.kt
  src/main/kotlin/com/example/olx/offers/exceptions/OfferNotFoundException.kt
  src/main/kotlin/com/example/olx/offers/mapper/OfferMappers.kt
  src/main/kotlin/com/example/olx/offers/mapper/OfferRequestDTOMappers.kt
  src/main/kotlin/com/example/olx/offers/repository/OfferRepository.kt
  src/main/kotlin/com/example/olx/offers/service/OfferService.kt
  src/test/kotlin/com/example/olx/BaseIntegrationTest.kt
  src/test/kotlin/com/example/olx/offers/controller/OfferControllerTest.kt
  src/test/kotlin/com/example/olx/offers/mapper/OfferMappersTest.kt
  src/test/kotlin/com/example/olx/offers/mapper/OfferRequestDTOMappersTest.kt
  src/test/kotlin/io/kotest/provided/ProjectConfig.kt
Due: backend-kotlin

Added ci
  .github/workflows/be-ci.yml
  .github/workflows/fe-ci.yml
  lefthook.yml
Due: none

Fixed fe
  themes/olx/eslint.config.js
  themes/olx/prettier.config.js
  themes/olx/src/features/offers/remove-offer-dialog/remove-offer-dialog.tsx
Due: frontend-linter

Fixed FE
  themes/olx/package.json
  themes/olx/src/main.tsx
  themes/olx/src/reportWebVitals.ts
  themes/olx/vite.config.ts
Due: frontend-linter

Regenerate lock
  themes/olx/pnpm-lock.yaml
Due: none

feat/fix-ktlint-add-ci (#14)
  .editorconfig
  .github/workflows/be-ci.yml
  .github/workflows/fe-ci.yml
  build.gradle.kts
  lefthook.yml
  src/main/kotlin/com/example/olx/Loggable.kt
  src/main/kotlin/com/example/olx/OlxApplication.kt
  src/main/kotlin/com/example/olx/config/WebConfig.kt
  src/main/kotlin/com/example/olx/exceptions/GlobalExceptionHandler.kt
  src/main/kotlin/com/example/olx/exceptions/dto/ErrorDTO.kt
  src/main/kotlin/com/example/olx/offers/controller/OfferController.kt
  src/main/kotlin/com/example/olx/offers/dto/OfferDetailsDTO.kt
  src/main/kotlin/com/example/olx/offers/dto/OfferRequestDTO.kt
  src/main/kotlin/com/example/olx/offers/dto/OfferSummaryDTO.kt
  src/main/kotlin/com/example/olx/offers/entity/Offer.kt
  src/main/kotlin/com/example/olx/offers/exceptions/OfferExceptionHandler.kt
  src/main/kotlin/com/example/olx/offers/exceptions/OfferNotFoundException.kt
  src/main/kotlin/com/example/olx/offers/mapper/OfferMappers.kt
  src/main/kotlin/com/example/olx/offers/mapper/OfferRequestDTOMappers.kt
  src/main/kotlin/com/example/olx/offers/repository/OfferRepository.kt
  src/main/kotlin/com/example/olx/offers/service/OfferService.kt
  src/test/kotlin/com/example/olx/BaseIntegrationTest.kt
  src/test/kotlin/com/example/olx/offers/controller/OfferControllerTest.kt
  src/test/kotlin/com/example/olx/offers/mapper/OfferMappersTest.kt
  src/test/kotlin/com/example/olx/offers/mapper/OfferRequestDTOMappersTest.kt
  src/test/kotlin/io/kotest/provided/ProjectConfig.kt
  themes/olx/eslint.config.js
  themes/olx/package.json
  themes/olx/pnpm-lock.yaml
  themes/olx/prettier.config.js
  themes/olx/src/features/offers/remove-offer-dialog/remove-offer-dialog.tsx
  themes/olx/src/main.tsx
  themes/olx/src/reportWebVitals.ts
  themes/olx/vite.config.ts
Due: backend-kotlin, frontend-linter

Added labeler workflow
  .github/labeler.yml
  .github/workflows/fe-ci.yml
  .github/workflows/labeler.yml
Due: none

Added labeler workflow (#15)
  .github/labeler.yml
  .github/workflows/fe-ci.yml
  .github/workflows/labeler.yml
Due: none

Added User Entity, DTO
  src/main/kotlin/com/example/olx/users/dto/UserDetailsDTO.kt
  src/main/kotlin/com/example/olx/users/dto/UserRequestDTO.kt
  src/main/kotlin/com/example/olx/users/entity/UserEntity.kt
Due: backend-kotlin

Create API to create user
  build.gradle.kts
  src/main/kotlin/com/example/olx/exceptions/dto/ErrorDTO.kt
  src/main/kotlin/com/example/olx/security/config/SecurityConfig.kt
  src/main/kotlin/com/example/olx/users/controller/UserController.kt
  src/main/kotlin/com/example/olx/users/dto/UserDetailsDTO.kt
  src/main/kotlin/com/example/olx/users/dto/UserRequestDTO.kt
  src/main/kotlin/com/example/olx/users/entity/User.kt
  src/main/kotlin/com/example/olx/users/exceptions/UserExceptionHandler.kt
  src/main/kotlin/com/example/olx/users/exceptions/UsernameAlreadyExistsException.kt
  src/main/kotlin/com/example/olx/users/mappers/UserMappers.kt
  src/main/kotlin/com/example/olx/users/mappers/UserRequestDTOMappers.kt
  src/main/kotlin/com/example/olx/users/repository/UserRepository.kt
  src/main/kotlin/com/example/olx/users/service/UserService.kt
Due: backend-kotlin

Fixed schema and dto
  src/main/kotlin/com/example/olx/security/config/SecurityConfig.kt
  src/main/kotlin/com/example/olx/users/controller/UserController.kt
  src/main/kotlin/com/example/olx/users/dto/UserRequestDTO.kt
  src/main/kotlin/com/example/olx/users/mappers/UserRequestDTOMappers.kt
  src/main/kotlin/com/example/olx/users/service/UserService.kt
  src/main/resources/db/migration/V3__init_user_schema.sql
Due: backend-kotlin

Added http authorize filters
  src/main/kotlin/com/example/olx/exceptions/dto/ErrorDTO.kt
  src/main/kotlin/com/example/olx/offers/security/OfferSecurityConfig.kt
  src/main/kotlin/com/example/olx/security/config/SecurityConfig.kt
  src/main/kotlin/com/example/olx/users/exceptions/UserExceptionHandler.kt
  src/main/kotlin/com/example/olx/users/security/UserSecurityConfig.kt
Due: backend-kotlin

Fixed path
  src/main/kotlin/com/example/olx/users/controller/UserController.kt
  src/main/kotlin/com/example/olx/users/security/UserSecurityConfig.kt
Due: backend-kotlin

Move SecurityConfig to security and remove config package
  src/main/kotlin/com/example/olx/security/SecurityConfig.kt
Due: backend-kotlin

Added auth package
  src/main/kotlin/com/example/olx/auth/controller/AuthController.kt
  src/main/kotlin/com/example/olx/auth/dto/LoginRequestDTO.kt
  src/main/kotlin/com/example/olx/auth/security/AuthSecurityConfig.kt
  src/main/kotlin/com/example/olx/auth/service/AuthService.kt
  src/main/kotlin/com/example/olx/config/SecurityConfig.kt
Due: backend-kotlin

Added AuthService
  src/main/kotlin/com/example/olx/auth/config/AuthSecurityConfig.kt
  src/main/kotlin/com/example/olx/auth/controller/AuthController.kt
  src/main/kotlin/com/example/olx/auth/service/AuthService.kt
  src/main/kotlin/com/example/olx/config/SecurityConfig.kt
  src/main/kotlin/com/example/olx/offers/config/OfferSecurityConfig.kt
  src/main/kotlin/com/example/olx/users/config/UserSecurityConfig.kt
Due: backend-kotlin

Working user authorization
  src/main/kotlin/com/example/olx/auth/service/CustomUserDetailsAuthService.kt
  src/main/kotlin/com/example/olx/users/repository/UserRepository.kt
Due: backend-kotlin

Added id to UserDetails
  src/main/kotlin/com/example/olx/auth/dto/CustomAuthUserDetailsDTO.kt
  src/main/kotlin/com/example/olx/auth/service/CustomAuthUserDetailsService.kt
Due: backend-kotlin
